* {
  padding: 0;
  margin: 0;
}

.calculator-container {
  width: 307px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 10px 14px 16px hsla(27, 85%, 47%, 0.856);
  border-radius: 20px;
}

.row {
  display: flex;
  width: fit-content;
}

.last {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
