@font-face {
  font-family: 'Adventure';
  src: url('./Assets/Font/Adventure.ttf');
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-family: 'Adventure', sans-serif;
  color: whitesmoke;
}

.nav-list {
  display: flex;
  padding-right: 2rem;
}

.nav-item {
  padding: 0 2rem 0 2rem;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;
  align-items: center;
  text-align: end;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #393939;
    transform: scaleX(0);
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    left: 12.5%;
    top: 12.5%;
    width: 75%;
    height: 75%;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    transform: scaleX(2);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }

  &:hover {
    color: #eee;
    box-shadow: 20px 14px 16px hsla(27, 85%, 47%, 0.856);
    transition: 0.5s;

    &::before {
      opacity: 1;
      transform: scaleX(1);
      transition: 0.5s;
    }

    &::after {
      opacity: 1;
      transform: scaleX(1);
      transition: 0.5s;
    }
  }
}

.nav-item a {
  color: #9f9f9f;
}
