body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.input-calc {
    text-align: end;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cero {
    grid-column: span 2;
}
