body {
    display: flex;
    flex-direction: column;
    padding: 10rem;
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.input-calc {
  text-align: end;
  height: 3rem;
  background-color: #858693;
  color: white;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e0e0e0;
}

button {
  height: 3rem;
  border: 1px grey solid;
  font-size: 0.9rem;
  cursor: pointer;
}

button:hover {
  background-color: orange;
}

.cero {
  grid-column: span 2;
}

.operation {
  background-color: #f5913e;
}
